# Godot
.godot/

.import/
export.cfg
export_presets.cfg

*.import
*.imported
*.tscn.export
*.scn.export
*.sct.export
*.stex
*.reimport
*.gd[script]

Thumbs.db
.DS_Store

*.log
*.err

*~

*.sconsign
*.sconsign.dblite

export_*/

*.translation

.mono/
data_*/
mono_crash.*.json

# System